body{
  background: #f9f9f9;
}
.wrapper{
  margin: 0 154px;
  width: 966px;
  padding-top: 50px;
  padding-left: 46px;
  padding-bottom: 60px;
  padding-right: 48px;
  box-shadow: 0 0 10px;
  background: white;
  font-family: sans-serif;
  font-size: 10pt;
}

  /*HEADER*/

.header ul{
  background-image: url(img/menu_top.jpg);
  margin: 40px 0px;
  }
.header li{
  display: inline-block;
}
.header li a:hover{
  background-image: url(img/menu_top_hover.jpg);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}
.header_menu a{
  color: white;
  text-decoration: none;
  line-height: 40px;
  display: inline-block;
  font-size: 11pt;
  padding: 0px 25px;
  margin-right: 42px;
}

/*SIDEBAR*/

.sidebar{
  float: left;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  width: 240px;
  margin-right: 50px;
}
.sidebar ul li{
  border-bottom: 1px solid #c8c8c8;
}
.sidebar li a:hover{
  text-decoration: none;
  color: black;
  padding-left: 40px;
  background-color: #f9f9f9;
}
.sidebar a{
  text-decoration: none;
  color: #656363;
  line-height: 40px;
  display: inline-block;
  width: 200px;
  padding-left: 25px;
}

/*CONTENT*/

.bike{
  border: 1px solid #c8c8c8;
  width: 672px;
  margin-bottom: 40px;
}
.text{
  margin-left: 315px;
  line-height: 20px;
}

/*FOOTER*/

.footer{
  margin-top: 60px;
  background-image: url(img/menu_footer.jpg);
  line-height: 40px;
  padding: 0px 25px;
}
.footer_menu a{
  color: black;
  text-decoration: none;
}
.footer li {
  margin-right: 93px;
  display: inline-block;
}
.footer_menu li:nth-child(5){
  margin-left: 193px;
  margin-right: 0px;
}
li a:hover{
  text-decoration: underline;
}
