@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Open Sans', Arial, Tahoma, sans-serif;
}


/*--HEADER--*/


.background{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 960px;
    margin: 0 auto;
    padding-bottom: 164px;
    padding-top: 64px;
}
.logo{
    display: inline-block;
    color: white;
    font-size: 48px;
}
.logo__part1{
    font-family: 'league_gothicregular', Arial, sans-serif;
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px #8a8a8a;
}
.logo__part2{
    display: inline-block;
    background: -webkit-linear-gradient(#745083, #33263a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -14px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    text-transform: uppercase;
    margin-right: 121px;
}
.menu{
    display: inline-block;
    vertical-align: 12px;
}
.menu__item{
    display: inline-block;
    margin-left: 47px;
    font-family: 'league_gothicregular', Arial, sans-serif;
}
.menu__link{
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px #8a8a8a;
}
.menu__link:hover{
    border-bottom: 2px solid #edbfff;
}



/*--CONTENT--*/



main{
    background-color: rgba(0, 0, 0, 0.3);
}
.slider{
    width: 960px;
    margin: 0 auto;
    color: white;
    position: relative;
    padding-top: 77px;
    padding-left: 1px;
}
.slider__box{
    display: inline-block;
    width: 500px;
    margin-right: 117px;
    vertical-align: 84px;
}
.slider__name{
    font-size: 60px;
    text-transform: capitalize;
    text-shadow: 1px 2px 1px #3b3b3b;
    font-family: 'league_gothicregular', Arial, sans-serif;
}
.slider__slogan{
    font-size: 32px;
    text-transform: uppercase;
    color: #edbfff;
    text-shadow: 1px 2px 1px #3b3b3b;
    font-family: 'league_gothicregular', Arial, sans-serif;
}
.slider__text{
    line-height: 24px;
    font-size: 18px;
    margin-top: 6px;
}
.slider__images{
    display: inline-block;
    position: absolute;
    top: -17px;
}
.slider__nav{
    width: 960px;
    margin: 0 auto;
    padding-left: 1181px;
}
.slider__button{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 17px;
    width: 17px;
    display: inline-block;
    margin-top: 93px;
    margin-bottom: 56px;
    position: relative;
    margin-left: 2px;
}
.slider__button:after{
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
}
.slider__button:hover:after{
    display: block;
}
.blurbs{
    background: -moz-linear-gradient(270deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 ); /* ie6-9 */
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #1d2f37;
}
.blurbs__wrapper{
    margin: 0 auto;
    width: 960px;
    color: white;
    font-size: 16px;
    position: relative;
    padding-top: 75px;
    padding-bottom: 70px;
    padding-left: 21px;
}
.blurbs__name{
    font-size: 30px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    text-transform: uppercase;
}
.blurbs__box{
    display: inline-block;
    width: 243px;
}
.blurbs__text{
    margin-top: 8px;
    margin-bottom: 20px;
    line-height: 24px;
}
.blurbs__img{
    display: inline-block;
    padding-bottom: 155px;
    background-repeat: no-repeat;
    background-image: url("../img/wrench.png");
    width: 31px;
    height: 31px;
}
.wrench{
    margin-right: 18px;
}
.say{
    background-position: -31px 0;
    margin-left: 37px;
    margin-right: 20px;
}
.music{
    background-position: -66px 0;
    margin-left: 35px;
    margin-right: 7px;
}
.blurbs__link{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding-left: 160px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    text-transform: uppercase;
}
.blurbs__link:hover{
    text-shadow: 0 0 10px white;
}
section{
    background-color: #f9f9f9;
}
.section__wrapper{
    width: 960px;
    margin: 0 auto;
}
.testimonials{
    display: inline-block;
    background-color: white;
    border: 1px solid #f6f6f6;
    width: 370px;
    padding: 33px 40px 43px 43px;
    position: relative;
}
.testimonials__img{
    background-image: url("../img/blog.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    position: absolute;
    display: block;
    left: -20px;
    top: 15px;
}
.testimonials__name1{
    font-size: 30px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    color: #454545;
    display: inline-block;
    text-transform: uppercase;
}
.testimonials__name2{
    color: #edbfff;
    display: inline-block;
    font-size: 30px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    text-transform: uppercase;
}
.testimonials__text{
    font-size: 16px;
    color: #454545;
    line-height: 25px;
    margin-top: 15px;
}
.testimonials__slider{

}
.slider__button--testimonials{
    background-color: white;
    border: 1px solid #e8e8e8;
}
.slider__button--testimonials:hover:after{
    display: block;
    width: 11px;
    height: 11px;
    background: -moz-linear-gradient(270deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(136,136,136,1)), color-stop(100%, rgba(70,70,70,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#464646',GradientType=0 ); /* ie6-9 */    border-radius: 50%;
}
.blog{
    font-size: 16px;
    color: #454545;
    display: inline-block;
}
.blog__name{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'league_gothicregular', Arial, sans-serif;
}
.post{
}
.post__box{
    padding-left: 60px;
    position: relative;

}
.post__img{
    width: 49px;
    height: 49px;
    background-image: url("../img/blog.png");
    position: absolute;
    left: -5px;
}
.post1{
    background-position: -49px 0;
}
.post2{
    background-position: -99px 0;
}
.post3{
    background-position: -148px 0;
}
.post__name{
    font-size: 16px;
    font-weight: 900;
    line-height: 28px;
    margin-top: 26px;
}
.blog__item{
    text-align: right;
    margin-top: 26px;
}
.blog__link{
    font-size: 18px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #454545;
}
