@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Open Sans', Arial, Tahoma, sans-serif;
}


/*--HEADER--*/


.background{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
nav{
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 164px;
    padding-top: 64px;
}
.logo{
    display: inline-block;
    color: white;
    font-size: 48px;
    margin-right: 168px;
}
.logo__part{
    font-family: 'league_gothicregular', Arial, sans-serif;
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px #8a8a8a;
}
.logo__part--1{
    display: inline-block;
    background: -webkit-linear-gradient(#745083, #33263a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -14px;
    text-shadow: none;
}
.menu{
    vertical-align: 12px;
    display: inline-block;
}
.menu__item{
    display: inline-block;
    margin-left: 37px;
}
.menu__link{
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px #8a8a8a;
    padding: 0 4px;
    font-family: 'league_gothicregular', Arial, sans-serif;
}
li:first-child{
    margin: 0;
}
.menu__link:hover{
    border-bottom: 2px solid #edbfff;
}
.droplist_menu{
    text-align: center;
    width: 246px;
    margin: 0 auto;
    line-height: 40px;
    position: relative;
    display: none;
}
.droplist_menu__item{
    position: absolute;
    z-index: 2;
    width: 246px;
}
.droplist_menu__item{
}
.droplist_menu__home_link{
    border-bottom: 2px solid #edbfff;
}
.droplist{
    background-color: rgba(59, 46, 67, 0.9);
    width: 246px;
    position: absolute;
    padding-top: 49px;
    margin-top: -7px;
    border: 1px solid #121b22;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    z-index: 1;
}
.droplist_menu:hover .droplist{
    display: block;
}
.droplist__item{
    border-bottom: 2px solid transparent;
}
.droplist__item:before{
    content: '';
    display: block;
    border-top: 1px solid #513e59;
    border-bottom: 1px solid #36283e;
}
.droplist__item:first-child:before{
    content: '';
    border-bottom: 1px solid #36283e;
    width: 246px;
    display: block;
    margin-top: -2px;
}
.droplist__item:last-child{
    border-bottom: none;
}
.droplist__item:hover{
    border-bottom: 2px solid #edbfff;
    background-color: rgba(46, 37, 52, 0.9);
}
.menu__link--droplist{
    text-shadow: none;
}
.menu__link--droplist:hover{
    border-bottom: none;
}

/*--CONTENT--*/



main{
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}
.slider__arrow{
    float: left;
    margin-top: 180px;
    width: 10%;
    text-align: right;
    margin-right: 10px;
}
.slider__arrow--right{
    transform: rotate(180deg);
    float: right;
    width: 9%;
    margin-right: 0;
}
/*.slider__arrow{
    position: absolute;
    top: 180px;
    left: -320px;
}
.slider__arrow--right{
    transform: rotate(180deg);
    left: 1255px;
}*/
.slider{
    max-width: 960px;
    margin: 0 auto;
    color: white;
    padding-top: 77px;
    overflow: hidden;
}
.slider__box{
    display: inline-block;
    max-width: 53%;
    vertical-align: 84px;
    padding-right: 470px;
}
.slider__name{
    font-size: 60px;
    text-transform: capitalize;
    text-shadow: 1px 2px 1px #3b3b3b;
    font-family: 'league_gothicregular', Arial, sans-serif;
}
.slider__slogan{
    font-size: 32px;
    text-transform: uppercase;
    color: #edbfff;
    text-shadow: 1px 2px 1px #3b3b3b;
    font-family: 'league_gothicregular', Arial, sans-serif;
}
.slider__text{
    line-height: 24px;
    font-size: 18px;
    margin-top: 6px;
}
.slider__images{
    position: absolute;
    top: -17px;
    text-align: center;
    width: 64%;
    right: 70px;
}
.slider__nav{
    padding-top: 93px;
    padding-bottom: 56px;
    text-align: center;
    margin-right: -550px;
}
.slider__button{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 17px;
    width: 17px;
    display: inline-block;
    position: relative;
    margin-left: 2px;
}
.slider__button:after{
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
}
.slider__button:hover:after{
    display: block;
}
.blurbs{
    background: -moz-linear-gradient(270deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 ); /* ie6-9 */
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #1d2f37;
}
.blurbs__wrapper{
    margin: 0 auto;
    max-width: 960px;
    color: white;
    font-size: 16px;
    padding-top: 75px;
    padding-bottom: 70px;
}
.blurbs__name{
    font-size: 30px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    text-transform: uppercase;
}
.blurbs__box{
    position: relative;
    display: inline-block;
    padding-left: 64px;
    padding-right: 30px;
    width: 25%;
}
.blurbs__box--2{
    padding-right: 8px;
}
.blurbs__box--3{
    padding-right: 0;
}
.blurbs__text{
    margin-top: 8px;
    margin-bottom: 20px;
    line-height: 24px;
}
.blurbs__img{
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../img/blog.png");
    background-position: 0 -51px;
    top: 7px;
    left: 10px;
    width: 31px;
    height: 31px;
}
.wrench{
}
.say{
    background-position-x: -32px;
}
.music{
    background-position-x: -66px;
}
.blurbs__link{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-family: 'league_gothicregular', Arial, sans-serif;
    text-transform: uppercase;
    text-align: right;
}
.blurbs__link:hover{
    text-shadow: 0 0 10px white;
}
section{
    background-color: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
}
.section__wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 94px;
}
.testimonials{
    display: inline-block;
    width: 46%;
    margin-right: 64px;
}
.testimonials__box{
    background-color: white;
    border: 1px solid #f6f6f6;
    padding: 33px 42px 35px 39px;
    position: relative;
    margin-left: 23px;
    vertical-align: top;
}
.testimonials__img{
    background-image: url("../img/blog.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    position: absolute;
    display: block;
    left: -24px;
    top: 22px;
}
.testimonials__name{
    font-size: 30px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    color: #454545;
    display: inline-block;
    text-transform: uppercase;
}
.testimonials__name--part{
    color: #edbfff;
}
.testimonials__text{
    font-size: 16px;
    color: #454545;
    line-height: 24px;
    margin-top: 10px;
}
.testimonials__slider{
    padding-bottom: 71px;
    padding-top: 22px;
    text-align: center;
}
.slider__button--testimonials{
    background-color: white;
    border: 1px solid #e8e8e8;
    width: 16px;
    height: 16px;
}
.slider__button--testimonials:hover:after{
    width: 12px;
    height: 12px;
    background: -moz-linear-gradient(270deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(136,136,136,1)), color-stop(100%, rgba(70,70,70,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#464646',GradientType=0 ); /* ie6-9 */    border-radius: 50%;
    top: 2px;
    left: 2px;
}
.blog{
    vertical-align: top;
    padding-top: 33px;
    font-size: 16px;
    color: #454545;
    display: inline-block;
    width: 38%;
}
.blog__name{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    margin-bottom: 18px;
}
.post__box{
    padding-left: 67px;
    position: relative;
}
.post__img{
    width: 49px;
    height: 49px;
    background-image: url("../img/blog.png");
    position: absolute;
    left: 0;
    top: -2px;
}
.post1{
    background-position: -49px 0;
}
.post2{
    background-position: -99px 0;
}
.post3{
    background-position: -148px 0;
}
.post__name{
    font-size: 16px;
    font-weight: 900;
}
.post__text{
    margin-top: 8px;
    margin-bottom: 26px;
}
.blog__item{
    text-align: right;
    margin-top: 28px;
}
.blog__item--media{
    display: none;
}
.blog__link{
    font-size: 18px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #454545;
}
.logos{
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
    background-color: #f9f9f9;
}
.logos__box{
    margin: 0 auto;
    max-width: 960px;
    padding-top: 24px;
    padding-bottom: 30px;
    text-align: center;
    padding-left: 65px;
}
.logos__img{
    margin-right: 63px;
    vertical-align: middle;
}
.text{
    background-color: #ececec;
    border-top: 1px solid #d8d8d8;
}
.text__wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 95px;
    padding-bottom: 93px;
}
.text__box{
    display: inline-block;
    width: 28%;
    vertical-align: top;
    padding-right: 59px;
}
.text__box--3{
    padding: 0;
}
.text__titel{
    font-size: 48px;
    font-family: 'league_gothicregular', Arial, sans-serif;
    text-transform: uppercase;
    color: #454545;
    display: inline-block;
    padding-bottom: 6px;
}
.text__titel--2{
    color: #b9b9b9;
}
.text__copy{
    color: #c5c5c5;
    font-size: 16px;
    font-style: italic;
    font-family: Georgia, Arial, sans-serif;
    padding-bottom: 10px;
}
.text__name{
    font-family: 'league_gothicregular', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    padding-bottom: 8px;
}
.text__name--1{
    display: none;
}
.text__text{
    color: #787878;
    font-size: 16px;
    line-height: 24px;
}


/*--FOOTER--*/


footer{
    background-image: url("../img/footer.jpg");
    background-repeat: no-repeat;
    padding: 46px 0;
    background-size: cover;
}
.menu--footer{
    text-align: left;
    display: inline-block;
    vertical-align: 0;
}
.menu--footer .menu__item{
    margin-left: 0;
    margin-right: 39px;
}
.menu--footer .menu__link{
    font-size: 20px;
    text-shadow: 1px 2px 1px #3b3b3b;
}
.footer__box{
    max-width: 960px;
    margin: 0 auto;
}
.designed{
    display: inline-block;
    text-align: right;
    padding-left: 5px;
    text-shadow: 1px 2px 1px #252525;
    padding-top: 20px;
    width: 35%;
}
.designed__text{
    display: inline-block;
    font-size: 12px;
    color: white;
}
.designed__text--1{
    font-weight: bold;
}


/*--MEDIA QUERIES--*/


@media (max-width: 768px){
    .logo{
        margin-left: 20px;
    }
    .menu{
        width: 100%;
        margin-top: 35px;
        margin-left: 16px;
    }
    .slider__box{
        width: 37%;
        height: 220px;
        overflow: hidden;
    }
    .slider__images{
        text-align: right;
        width: 48%;
    }
    .slider__name{
        font-size: 48px;
    }
    .slider__slogan{
        font-size: 24px;
    }
    .slider__text{
        font-size: 16px;
    }
    .slider__arrow{
        text-align: left;
        width: 6%;
    }
    .slider__arrow--right{
        max-width: 3%;
    }
    .slider__nav{
        text-align: right;
        width: 78%;
    }
    .blurbs__box{
        width: 21%
    }
    .blurbs__name{
        font-size: 24px;
    }
    .testimonials{
        width: 43%;
        padding-left: 20px;
    }
    .testimonials__name{
        font-size: 24px;
        display: block;
    }
    .blog{
        max-width: 43%
    }
    .blog__item{
        display: none;
    }
    .blog__item--media{
        display: block;
    }
    .logos__box{
        padding-left: 0;
    }
    .logos__img{
        margin: 0;
        padding-left: 20px;
        padding-right: 26px;
    }
    .text__box{
        width: 23%;
        padding-left: 20px;
    }
    .text__titel{
        display: none;
    }
    .text__copy{
        display: none;
    }
    .text__name{
        font-size: 24px;
    }
    .text__name--1{
        display: block;
    }
    .text__name--2{
        display: none;
    }
    .designed{
        padding-top: 40px;
        width: 96%;
    }
}
@media (max-width: 480px){
    .droplist_menu{
        display: block;
        width: 55%;
        margin: 0 auto;
        padding-top: 25px;
    }
    .logo{
        text-align: center;
        width: 90%;
    }
    .menu{
        width: 100%;
        margin-right: 0;
        display: none;
    }
    .menu:first-child{
        display: block;
    }
    .slider__box{
        width: 46%;
        height: 1%;
    }
    .slider__name{
        font-size: 36px;
    }
    .slider__slogan{
        font-size: 18px;
    }
    .slider__text{
        display: none;
    }
    .slider__images{
        width: 56%;
        transform: scale(0.7);
        top: -80px;
        right: 10px;
    }
    .slider__arrow{
        margin-top: 100px;
    }
    .slider__arrow--right{
    }
    .slider__nav{
        text-align: center;
        width: 100%;
        margin-right: 0;
        margin-top: -60px;
    }
    .blurbs__box{
        width: 83%;
        display: block;
    }
    .testimonials{
        width: 93%;
        margin-left: 20px;
    }
    .testimonials__name{
        display: inline-block;
    }
    .blog{
        min-width: 93%;
        margin-top: -40px;
        margin-bottom: 90px;
        margin-left: 20px;
    }
    .blog__item{
        display: none;
    }
    .blog__item--media{
        display: block;
    }
    .logos__box{
        text-align: center;
        width: 90%;
        padding: 40px 0;
    }
    .logos__img{
        margin-right: 0;
        margin-top: 30px;
    }
    .text__box{
        width: 88%;
        margin-left: 20px;
        display: block;
    }
    .text__titel{
        display: none;
    }
    .text__copy{
        display: none;
    }
    .text__name--1{
        display: block;
    }
    .text__name--2{
        display: none;
    }
    .text__name{
        margin-top: 60px;
    }
    footer{
        padding-top: 20px;
    }
    .menu--footer{
        display: block;
    }
    .menu--footer .menu__item{
        margin-right: 10px;
    }
    .designed{
        text-align: center;
        width: 100%;
        padding-bottom: 40px;
    }
}
@media (max-width: 320px){
    .droplist_menu{
        display: block;
        width: 85%;
        padding-top: 25px;
    }
    .logo{
        width: 87%;
    }
    .menu{
        display: none;
    }
    .slider__box{
        margin-right: 0;
        margin-left: 6px;
    }
    .slider__text{
        display: none;
    }
    .slider__images{
        display: none;
    }
    .slider__name{
        width: 190%;
        text-align: center;
    }
    .slider__slogan{
        width: 190%;
        text-align: center;
    }
    .blurbs__box{
        width: 75%;
        display: block;
        margin-top: 25px;
    }
    .testimonials{
        width: 75%;
        margin-left: 20px;
    }
    .blog{
        min-width: 85%;
        margin-top: -40px;
        margin-bottom: 90px;
        margin-left: 20px;
    }
    .blog__item{
        display: none;
    }
    .blog__item--media{
        display: block;
    }
    .logos__img{
        padding-left: 10px;
        padding-right: 10px;
    }
    .logos__img--2{
        padding-left: 40px;
        margin-right: -10px;
    }
    .logos__img--3{
        padding-right: 50px;
    }
    .text{
        display: none;
    }
    .menu__item{
        display: none;
    }
    .designed{
        text-align: center;
        padding-bottom: 40px;
        width: 100%;
        margin-top: -40px;
    }
}