body{
    background-image: url(../img/background.jpg);
    background-repeat: repeat-x;
    background-color: #0c739f;
}
.wrapper{
    font-family: Tahoma, sans-serif;
    width: 1000px;
    margin: 0 auto;
 }
.site{
    box-shadow: 0 3px 10px;
}

/*HEADER*/

.header{
    background-image: url(../img/logo.png);
    background-repeat:no-repeat;
    background-position: 28px 100%;
    background-color: white;
    height: 175px;
}
.slogan{
    font-size: 12px;
    color: #128aa7;
    padding-top: 110px;
    padding-left: 98px;
    float: left;
}
.images{
    float: right;
    padding-right: 33px;
}
.contacts{
    font-size: 12px;
    color: #128aa7;
    line-height: 18px;
    margin-bottom: 32px;
    padding-top: 7px;
    margin-left: 214px;
}
.countries{
    padding-bottom: 6px;
}
.countries li{
    display: inline-block;
    font-size: 10px;
    color: #128aa7;
    text-decoration: underline;
    text-align: center;
    width: 53px;
}

/*CONTENT*/

.content{
    position: relative;
}
.foto{
    border-top: 1px solid #128aa7;
}
.menu{
    width: 1000px;
    background-color: #323232;
    font-size: 14px;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid black;
    box-shadow: 0 3px 10px;
    position: absolute;
}
.menu>li{
    display: inline-block;
    line-height: 28px;
    padding-left: 60px;
}
.menu a{
    color: white;
    text-decoration: none;
}
.triangle{
    padding-left: 2px;
}
.submenu{
    width: 135px;
    display: none;
    position: absolute;
    top: 29px;
    line-height: 24px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.submenu li{
    display: block;
}
.submenu2{
    width: 135px;
    display: none;
    position: absolute;
    line-height: 24px;
    padding-left: 10px;
    padding-bottom: 5px;
    left: 135px;
    margin-top: -24px;
}
.menu li:hover .submenu{
    background-color: #323232;
    display: block;
}
.submenu li:hover ul{
    display: block;
    background-color: #323232;
}
.name{
    font-size: 14pt;
    text-align: center;
    line-height: 35px;
    padding-top: 6px;
}
.content{
    color: #424c43;
    overflow: hidden;
}
.columns{
    padding-top: 29px;
}
.info{
    width: 170px;
    float: left;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    font-size: 14px;
    line-height: 25px;
    padding: 0 25px 15px 15px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.text {
    width: 537px;
    float: left;
    background-color: white;
    margin: 0 auto;
    font-size: 14px;
    line-height: 25px;
    padding: 0 25px 15px 15px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.news{
    width: 170px;
    float: right;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    font-size: 14px;
    line-height: 25px;
    padding: 0 25px 15px 15px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

/*FOOTER*/

.footer{
    text-align: center;
    font-size: 8pt;
    color: white;
    clear: both;
    line-height: 34px;
}