body{
    background-image: url(../img/background.jpg);
    background-repeat: repeat-x;
    background-color: #0c739f;
}
.wrapper{
    font-family: Tahoma, sans-serif;
    width: 1000px;
    margin: 0 auto;
 }
.site{
    box-shadow: 0 3px 10px;
}

/*HEADER*/

.header{
    background-image: url(../img/logo.png);
    background-repeat:no-repeat;
    background-position: 25px 100%;
    background-color: white;
    height: 175px;

}

/*CONTENT*/

.clearfix:after{
    content: '';
    clear: both;
    display: block;
}
.foto{
    border-top: 1px solid #128aa7;
}
.name{
    font-size: 14pt;
    text-align: center;
}
.content{
    color: #424c43;
}
.info{
    width: 208px;
    float: left;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
}
.text{
    width: 580px;
    float: left;
    background-color: white;
    margin: 0 auto;
}
.news{
    width: 208px;
    float: right;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
}

/*FOOTER*/

.footer{
    text-align: center;
    font-size: 8pt;
    color: white;
    clear: both;
    line-height: 34px;
}
