table{
    border: 15px solid white;
}
td{
    border: 10px solid black;
    border-collapse: collapse;
    height: 100px;
    width: 100px;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}