@font-face{
    font-family: 'lucida_sans_unicoderegular';
    src: url('../font/l_10646-webfont.woff2') format('woff2'),
         url('../font/l_10646-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: white;
    font-family: Arial, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}



/* HEADER */



.wrapper{
    width: 909px;
    padding: 18px 46px 0 46px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.phone_box{
    padding-left: 7px;
    height: 25px;
    margin-bottom: 11px;
}
.float{
    display: inline-block;
}
.phone_img{
    width: 21px;
    height: 21px;
    background: -moz-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12,51,87,1)), color-stop(100%, rgba(35,105,136,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3357', endColorstr='#236988',GradientType=0 ); /* ie6-9 */
    border-radius: 100%;
    text-align: center;
    vertical-align: -8px;
}
.phone{
    color: #5e696d;
    font-size: 18px;
    vertical-align: -5px;
}
.avt{
    background: -moz-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31,103,135,1)), color-stop(100%, rgba(12,51,87,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* ie6-9 */
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 10px;
    margin: 0 14px 10px 12px;
    box-shadow: 3px 3px 3px #969696;
}
.man{
    vertical-align: -6px;
}
input[type="text"]{
    width: 110px;
    height: 12px;
}
input[type="password"]{
    width: 110px;
    height: 12px;
}
input[type="submit"]{
    background-color: transparent;
    border: 0;
    color: white;
}
.reg{
    font-size: 12px;
    color: white;
    border-left: 1px solid;
    padding-left: 5px;
    padding-right: 19px;
    margin-left: -5px;
}
.forget_password{
    font-size: 12px;
    color: #bfbfbf;
    text-decoration: underline;
}
.navigation{
    border: 1px solid #c1c8cb;
    border-radius: 19px;
    padding: 1px 11px 3px 8px;
}
.map{
    padding: 0 4px;
}
.menu{
    background: -moz-linear-gradient(270deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(77,86,99,1)), color-stop(100%, rgba(1,1,1,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5663', endColorstr='#010101',GradientType=0 ); /* ie6-9 */
    color: #b1bcc0;
    border-radius: 4px;
    border: 1px solid #2c345a;
    line-height: 28px;
    box-shadow: 3px 3px 3px;
    text-align: right;
    margin-top: 3px;
}
.menu li{
    display: inline-block;
    margin-top: 3px;
    text-transform: uppercase;
}
.menu li a{
    color: #b1bcc0;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}
.basket{
    font-size: 12px;
}
.menu li a:hover{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31,103,135,1)), color-stop(100%, rgba(12,51,87,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* ie6-9 */
    color: white;
    border-radius: 20px;
    height: 26px;
}
.basket_img{
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 50px;
}
.goods{
    color: #929b9f;
    margin-left: 4px;
}
.amount{
    margin-left: 15px;
    margin-right: 8px;
    color: #929b9f;
}
.quantity{
    color: #0d5a8f;
    font-size: 12px;
}
.price{
    color: #0d5a8f;
    margin-right: 12px;
    padding-left: 3px;
    font-size: 12px;
}



/* SIDEBAR */



.sidebar_left{
    float: left;
    margin-top: 19px;
}
.head{
    font-size: 13px;
    color: #114165;
    border: 1px solid #8b979c;
    border-radius: 20px;
    padding: 2px 0 2px 2px;
    box-shadow: 2px 2px 3px #bfbfbf;
    margin-bottom: 13px;
    width: 180px;
}
.circle{
    width: 21px;
    height: 21px;
    background: -moz-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12,51,87,1)), color-stop(100%, rgba(35,105,136,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3357', endColorstr='#236988',GradientType=0 ); /* ie6-9 */
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.titel{
    vertical-align: middle;
    text-transform: uppercase;
    padding-left: 2px;
}
.list_left{
    position: absolute;
    top: 3px;
    left: 4px;
}
.list_titel_bar{
    border: 1px solid #79878d;
    border-radius: 12px;
    color: #114165;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 2px 0 1px 4px;
    position: relative;
    width: 144px;
}
.border{
    width: 11px;
    height: 11px;
    border: 5px solid #114165;
    border-radius: 100%;
}
.list_titel{
    position: absolute;
    left: 28px;
    top: 6px;
}
.sidebar_left ul{
    list-style-type: circle;
    padding-left: 44px;
    line-height: 24px;
}
.sidebar_left li{
    padding-left: 0;
}
.sidebar_left a{
    color: #465961;
    font-size: 13px;
}
.sidebar_left a:hover{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    color: #0c3256;
}
/*.marker{
    height: 4px;
    width: 4px;
    border-radius: 100%;
    border: 1px solid #000;
    vertical-align: middle;
    margin-right: 4px;
}*/


/* SIDEBAR right */



.sidebar_right{
    float: right;
    margin-top: 19px;
}
.list{
    position: absolute;
    top: 3px;
    left: 5px;
}
.border{
    width: 11px;
    height: 11px;
    border: 5px solid #114165;
    border-radius: 100%;
}
.brend{
    font-size: 13px;
    color: #465961;
    padding-left: 7px;
    margin-top: 6px;
}
.bottom{
    margin-bottom: 12px;
}
.form{
    padding-left: 15px;
}
.form input[type="submit"]{
    background: -moz-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31,103,135,1)), color-stop(100%, rgba(12,51,87,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* ie6-9 */
    background-repeat: no-repeat;
    border-radius: 11px;
    margin-top: 18px;
    width: 80px;
    line-height: 23px;
    font-size: 11px;
    color: white;
    margin-left: 10px;
    box-shadow: #565656 3px 3px 10px;
}
.form input[type="submit"]:hover{
    background: -moz-linear-gradient(270deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12,51,87,1)), color-stop(100%, rgba(31,103,135,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3357', endColorstr='#1f6787',GradientType=0 ); /* ie6-9 */
}



/* CONTENT */



main{
    background: -moz-linear-gradient(270deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229,231,232,1)), color-stop(100%, rgba(147,167,176,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0',GradientType=0 ); /* ie6-9 */
    width: 471px;
    float: left;
    margin: 15px 10px 38px 10px;
    text-align: center;
    padding: 16px 23px 0 23px;
    border-radius: 3px;
}
.tires{
    width: 137px;
    height: 123px;
    background-color: white;
    border: 1px solid #b0b9bc;
    border-radius: 6px;
    padding-top: 4px;
}
.nokian{
    margin: 0 13px;
}
.brand_logo{
    clear: both;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 25px;
}
.name{
    font-size: 15px;
    color: #206988;
    font-family: 'lucida_sans_unicoderegular', Arial, sans-serif;
}
.spec{
    font-size: 13px;
    font-family: 'lucida_sans_unicoderegular', Arial, sans-serif;
}
.price_list{
    font-size: 16px;
    color: #114165;
    font-style: italic;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 30px;
}



/* FOOTER */



footer {
    background-color: #213a4d;
    height: 100px;
    border-top: 1px solid #242a3c;
    border-left: 1px solid #242a3c;
    border-right: 1px solid #242a3c;
    text-align: center;
}
.footer_menu{
    padding-top: 12px;
    padding-bottom: 16px;
}
.footer_menu li{
    display: inline-block;
    border-right: 1px solid;
    color: #bec6c9;
}
.footer_menu li:last-child{
    border-right: 0;
}
.footer_menu li a{
    color: #bec6c9;
    font-size: 12px;
    padding-right: 12px;
    padding-left: 12px;
}
.footer_menu li a:hover{
    color: #52abcb;
}
.copy{
    font-size: 10px;
    color: #7f4740;
}