@font-face{
    font-family: 'lucida_sans_unicoderegular';
    src: url('../font/l_10646-webfont.woff2') format('woff2'),
         url('../font/l_10646-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: white;
    font-family: Arial, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}



/* HEADER */



.wrapper{
    width: 909px;
    padding: 18px 46px 0 46px;
    margin: 0 auto;
    font-family: Arial, Tahoma, sans-serif;
}
.phone_box{
    padding-left: 7px;
    height: 25px;
    margin-bottom: 11px;
}
.inline{
    display: inline-block;
}
.phone_img{
    width: 21px;
    height: 21px;
    background: -moz-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12,51,87,1)), color-stop(100%, rgba(35,105,136,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3357', endColorstr='#236988',GradientType=0 ); /* ie6-9 */
    border-radius: 100%;
    text-align: center;
    vertical-align: -8px;
}
.phone{
    color: #5e696d;
    font-size: 18px;
    vertical-align: -5px;
}
.avt{
    background: -moz-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31,103,135,1)), color-stop(100%, rgba(12,51,87,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* ie6-9 */
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 10px;
    margin: 0 14px 10px 12px;
    box-shadow: 3px 3px 3px #969696;
}
.man{
    vertical-align: -6px;
}
input[type="text"]{
    width: 110px;
    height: 12px;
}
input[type="password"]{
    width: 110px;
    height: 12px;
}
input[type="submit"]{
    background-color: transparent;
    border: 0;
    color: white;
}
.reg{
    font-size: 12px;
    color: white;
    border-left: 1px solid;
    padding-left: 5px;
    padding-right: 19px;
    margin-left: -5px;
}
.forget_password{
    font-size: 12px;
    color: #bfbfbf;
    text-decoration: underline;
}
.navigation{
    border: 1px solid #c1c8cb;
    border-radius: 19px;
    padding: 1px 11px 3px 8px;
}
.map{
    padding: 0 4px;
}
.menu{
    background: -moz-linear-gradient(270deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(77,86,99,1)), color-stop(100%, rgba(1,1,1,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(77,86,99,1) 0%, rgba(1,1,1,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5663', endColorstr='#010101',GradientType=0 ); /* ie6-9 */
    color: #b1bcc0;
    border-radius: 4px;
    border: 1px solid #2c345a;
    line-height: 28px;
    box-shadow: 3px 3px 3px;
    text-align: right;
    margin-top: 3px;
    margin-bottom: 12px;
}
.menu li{
    display: inline-block;
    margin-top: 3px;
    text-transform: uppercase;
}
.menu li a{
    color: #b1bcc0;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}
.basket{
    font-size: 12px;
}
.menu li a:hover{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31,103,135,1)), color-stop(100%, rgba(12,51,87,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* ie6-9 */
    color: white;
    border-radius: 20px;
    height: 26px;
}
.basket_img{
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 50px;
}
.goods{
    color: #929b9f;
    margin-left: 4px;
}
.amount{
    margin-left: 15px;
    margin-right: 8px;
    color: #929b9f;
}
.quantity{
    color: #0d5a8f;
    font-size: 12px;
}
.price{
    color: #0d5a8f;
    margin-right: 12px;
    padding-left: 3px;
    font-size: 12px;
}


/*search boxes*/


.search_boxes{
    border: 1px solid #b6b6b7;
    border-radius: 20px;
    box-shadow: #565656 3px 3px 10px;
    position: relative;
    font-size: 12px;
    color: #154467;
    vertical-align: top;
}
.search_by_car{
    width: 381px;
    padding: 1px 13px 8px 18px;
    margin-left: 4px;
    margin-right: 11px;
}
.search_by_car_titel{
    position: absolute;
    left: 105px;
    font-weight: 900;
}
.search_by_car select{
    margin-top: 4px;
}
.drop_list_group{
    font-size: 10px;
    font-weight: 900;
    color: #154468;
    margin-bottom: 2px;
}
.drop_list_group2{
    font-size: 10px;
    font-weight: 900;
    color: #154468;
    margin-left: 138px;
    margin-bottom: 2px;
}
.drop_list{
    font-size: 9px;
    color: black;
}
.line2{
    color: #77858b;
}
.select_disks{
    position: absolute;
    top: 2px;
    left: 215px;
}
.mark{
    margin-right: 11px;
    margin-top: 12px;
}
.model, .year{
    margin-right: 9px;
}
.year {
    width: 58px;
}

/* custom select */


select{
    width: 100px;
    height: 17px;
    font-size: 11px;
    box-shadow: inset 1px 1px 1px #b0b0b0;
    -webkit-appearance: none;
    padding-left: 2px;

}
.select{
    position: relative;
    overflow: hidden;
}
.select__arrow{
    position: absolute;
    top: 9px;
    right: 4px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 7px 4px 0 4px;
    border-style: solid;
    border-color: #0b2e4f transparent transparent transparent;
}
.select__arrow_year{
   right: 13px;
}
.select__arrow_size{
    top: 5px;
}
.select__arrow_r{
    top: 11px;
}
.select__arrow_fasten{
    top: 18px;
    left: 107px;
}
.select__arrow_diameter{
    top: 24px;
}
.select__arrow_dco{
    top: 5px;
}
.select__arrow:before{
    content: "";
    border-left: 1px solid #bfbfbf;
    margin-left: -8px;
    padding-top: 9px;
}


/*--end custom select--*/


.complectation{
    margin-top: 9px;
}
.search{
    font-style: italic;
    font-size: 14px;
    color: #154467;
    border-bottom: 2px solid #99a6b3;
    margin-left: 304px;
}
.tires_search{
    width: 167px;
    padding: 4px 12px 8px 12px;
    margin-right: 5px;
    height: 121px;
}
.tires_search_titel{
    text-transform: uppercase;
    margin-bottom: 7px;
    font-weight: 900;
    font-size: 10px;
}
.slash{
   font-size: 14px;
}
.size_drop_list{
    width: 55px;
}
.radius {
    font-size: 11px;
    margin-top: 9px;
    margin-left: 26px;
}
.radius_drop_list{
    width: 46px;
}
.season{
    vertical-align: 29px;
}
.check_season{
    margin-top: 1px;
}
.summer{
    font-size: 12px;
    color: black;
    margin-top: 2px;
}
.seasons[type="checkbox"]:not(:checked),
.seasons[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.seasons[type="checkbox"]:not(:checked) + .label_seasons,
.seasons[type="checkbox"]:checked + .label_seasons {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.seasons[type="checkbox"]:not(:checked) + .label_seasons:before,
.seasons[type="checkbox"]:checked + .label_seasons:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 4px;
    width: 9px;
    height: 9px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
    border-left: 1px solid #9d9d9d;
    background: #fff;
    box-shadow: inset 1px 1px 1px #bcbcbc;
}
.seasons[type="checkbox"]:not(:checked) + .label_seasons:after,
.seasons[type="checkbox"]:checked + .label_seasons:after {
    content: '˅';
    position: absolute;
    top: 3px; left: 4px;
    font-size: 18px;
    line-height: 0.8;
    transition: all .2s;
}
.seasons[type="checkbox"]:not(:checked) + .label_seasons:after {
    opacity: 0;
    transform: scale(0);
}
.seasons[type="checkbox"]:checked + .label_seasons:after {
    opacity: 1;
    transform: scale(1);
}
.disks_search{
    width: 238px;
    padding: 3px 17px 8px 10px;
}
.disks_search_titel{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10px;
}
.disks_search_left_side{
    border-right: 1px solid #bdc6ca;
    padding-right: 12px;
}
.disks_search_box{
    margin-left: 5px;
}
.disks_search_right_side{
    margin-left: 10px;
}
.disk_diameter{
    margin-bottom: 1px;
    margin-top: 6px;
}
.select_box_size{
    width: 57px;
}
.fasten{
    width: 50px;
    margin-left: 17px;
}
.diameter{
    margin-left: 5px;
    vertical-align: 3px;
}
.et{
    margin-top: 6px;
}
.search_button[type="submit"]{
    font-style: italic;
    font-size: 14px;
    color: #154467;
    background: none;
    border-bottom: 2px solid #99a6b3;
    padding: 0;
}
.search_by_car_button[type="submit"]{
    margin-left: 325px;
    margin-top: 2px;
}
.tires_search_button[type="submit"]{
    margin-left: 111px;
}
.disks_search_button[type="submit"]{
    margin-left: 188px;
}


/* SIDEBAR */



.sidebar_left{
    float: left;
    margin-top: 18px;
}
.head{
    font-size: 13px;
    color: #114165;
    border: 1px solid #8b979c;
    border-radius: 20px;
    padding: 2px 0 2px 2px;
    box-shadow: 2px 2px 3px #bfbfbf;
    margin-bottom: 13px;
    width: 178px;
}
.circle{
    width: 21px;
    height: 21px;
    background: -moz-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12,51,87,1)), color-stop(100%, rgba(35,105,136,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(35,105,136,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3357', endColorstr='#236988',GradientType=0 ); /* ie6-9 */
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.titel{
    vertical-align: middle;
    text-transform: uppercase;
    padding-left: 2px;
}
.list_left{
    position: absolute;
    top: 3px;
    left: 5px;
}
.list_titel_bar{
    border: 1px solid #79878d;
    border-radius: 12px;
    color: #114165;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 2px 0 1px 4px;
    position: relative;
    width: 144px;
    height: 23px;
}
.list_titel{
    position: absolute;
    left: 28px;
    top: 6px;
}
.list_titel:before{
    content: "";
    width: 11px;
    height: 11px;
    border: 5px solid #114165;
    border-radius: 100%;
    position: absolute;
    top: -4px;
    left: -23px;
}
.sidebar_left ul{
    padding-left: 44px;
    line-height: 24px;
}
.sidebar_left a{
    color: #465961;
    font-size: 13px;
}
.sidebar_left a:hover{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    color: #0c3256;
}
.sidebar_left a:hover:before{
    content: "";
    min-width: 3px;
    min-height: 3px;
    position: absolute;
    left: -9px;
    top: 10px;
    border-radius: 50%;
    border: 2px solid #313a55;
}
.sidebar_left li{
    position: relative;
}
.sidebar_left li:before{
    content: "";
    min-width: 3px;
    min-height: 3px;
    position: absolute;
    left: -8px;
    top: 11px;
    border-radius: 50%;
    border: 1px solid #465961;
}



/* SIDEBAR right */



.sidebar_right{
    float: right;
    margin-top: 16px;
}
.list{
    position: absolute;
    top: 3px;
    left: 5px;
}
.border{
    width: 11px;
    height: 11px;
    border: 5px solid #114165;
    border-radius: 100%;
}
.brend{
    font-size: 13px;
    color: #465961;
    padding-left: 7px;
    margin-top: 6px;
    line-height: 20px;
}
.bottom{
    margin-bottom: 7px;
}
.form{
    padding-left: 15px;
}
.brend_submition[type="submit"]{
    background: -moz-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31,103,135,1)), color-stop(100%, rgba(12,51,87,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(31,103,135,1) 0%, rgba(12,51,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* ie6-9 */
    background-repeat: no-repeat;
    border-radius: 11px;
    margin-top: 18px;
    width: 80px;
    line-height: 23px;
    font-size: 11px;
    color: white;
    margin-left: 10px;
    box-shadow: #565656 3px 3px 10px;
}
.brend_submition[type="submit"]:hover{
    background: -moz-linear-gradient(270deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12,51,87,1)), color-stop(100%, rgba(31,103,135,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(12,51,87,1) 0%, rgba(31,103,135,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3357', endColorstr='#1f6787',GradientType=0 ); /* ie6-9 */
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 7px;
    height: 7px;
    border: 1px solid #1c4360;
    background: #fff;
    box-shadow: inset 1px 1px 3px, -1px 0 1px;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '˅';
    position: absolute;
    top: 3px; left: 4px;
    font-size: 18px;
    line-height: 0.8;
    transition: all .2s;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}



/* CONTENT */



main{
    background: -moz-linear-gradient(270deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229,231,232,1)), color-stop(100%, rgba(147,167,176,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0',GradientType=0 ); /* ie6-9 */
    width: 503px;
    float: left;
    margin: 15px 0 40px 10px;
    border-radius: 3px;
    padding-top: 15px;
    padding-left: 21px;
}
.tires{
    width: 137px;
    height: 123px;
    background-color: white;
    border: 1px solid #b0b9bc;
    border-radius: 6px;
    padding-top: 4px;
    text-align: center;
}
.nokian{
    padding-left: 25px;
    padding-right: 24px;
}
.brand_logo{
    clear: both;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 23px;
}
.name{
    font-size: 15px;
    color: #206988;
    text-align: center;
    font-family: 'lucida_sans_unicoderegular', Arial, sans-serif;
}
.spec{
    font-size: 13px;
    text-align: center;
    font-family: 'lucida_sans_unicoderegular', Arial, sans-serif;
}
.price_list{
    font-size: 16px;
    color: #114165;
    font-style: italic;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 26px;
    text-align: center;
}



/* FOOTER */



footer {
    background-color: #213a4d;
    height: 100px;
    border-top: 1px solid #242a3c;
    border-left: 1px solid #242a3c;
    border-right: 1px solid #242a3c;
    text-align: center;
}
.footer_menu{
    padding-top: 9px;
    padding-bottom: 16px;
}
.footer_menu li{
    display: inline-block;
    border-right: 1px solid;
    color: #bec6c9;
}
.footer_menu li:last-child{
    border-right: 0;
}
.footer_menu li a{
    color: #bec6c9;
    font-size: 12px;
    padding-right: 12px;
    padding-left: 12px;
}
.footer_menu li a:hover{
    color: #52abcb;
}
.copy{
    font-size: 10px;
    color: #7f4740;
}