<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>js13-14</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/tmpl.js"></script>
</head>
<body>
<script type="text/tmpl" id="test">
    <div></div>
    <div class="wrapper">
        <h1>Programming test</h1>
            <% for (i = 0; i < data.length; i++) { %>
                <h3><%= data[i].question %></h3>
                    <% for (j = 0; j < data[i].answer.length; j++) { %>
                    <label>
                        <input class="radio" type="radio" name="<%= data[i].question %>" id="radio">
                        <%= data[i].answer[j] %>
                    </label>
                    <% } %>
            <% } %>
        <div class="button">Check my results</div>
    </div>
</script>
</body>
</html>