body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Tahoma, sans-serif;
}
.wrapper{
    overflow: hidden;
}

/*HEADER*/

.header{
    background-image: url(../img/menu.jpg);
    line-height: 36px;
    text-decoration: none;
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
}
.flag{
    vertical-align: middle;
    padding-right: 12px;
}
a{
    text-decoration: none;
    color: #60b5ed;
    text-align: center;
    display: inline-block;
    padding: 0 12px;
}
li{
    display: inline-block;
}
li:nth-child(6){
    color: white;
    padding: 0 14px;
    border-left: 1px solid #56a2dc;
}
li:last-child{
    background-image: url(../img/menu_button.png);
    background-repeat: no-repeat;
    color: white;
    padding: 0 13px;
}
.line{
    vertical-align: middle;
    margin-bottom: 2px;
    margin-right: 12px;
}
.entrar{
    text-decoration: underline;
    color: white;
    padding: 0;
}
li a:hover{
    background-color: #4eabda;
    color: white;
}
li:last-child a:hover{
    background-color: transparent;
}

/*CONTENT*/

.form{
    width: 560px;
    margin: 7% auto;
    text-align: center;
    display: block;
}
.top{
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 62px;
    color: white;
    font-size: 24px;
    margin-bottom: 2px;
}
.log_in{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: block;
}
.facebook{
    padding-top: 38px;
}
.line2{
    float: left;
    padding-top: 6px;
}
.line2_1{
    float: right;
    padding-top: 6px;
}
.ou{
    color: #999999;
    font-size: 14px;
    width: 276px;
    margin: 30px auto;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    margin-bottom: 14px;
    background-color: black;
    color: white;
    width: 253px;
    line-height: 34px;
    border: 0;
    border-bottom: 1px solid #494948;
    padding-left: 19px;
}
input[type="text"]:focus{
    background-color: #1b5288;
    box-shadow: 0 0 10px #4c88b0;
    border: 0;
}
input[type="email"]:focus{
    background-color: #1b5288;
    box-shadow: 0 0 10px #4c88b0;
    border: 0;
}
input[type="password"]:focus{
    background-color: #1b5288;
    box-shadow: 0 0 10px #4c88b0;
    border: 0;
}
input[type="submit"]{
    background-image: url(../img/create_button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    padding: 0 10px 0 6px;
    margin: 20px 0;
    width: 151px;
    font-size: 14px;
    line-height: 37px;
    color: white;
}
.checkbox{
    font-size: 14px;
    margin-left: -35px;
    margin-top: 4px;
}
.footer{
    font-size: 11px;
    padding-bottom: 22px;
    width: 320px;
    margin: 0 auto
}