body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Tahoma, sans-serif;
}
.wrapper{
    overflow: hidden;
}

/*HEADER*/

.header{
    background-image: url(../img/menu.jpg);
    line-height: 36px;
    text-decoration: none;
    text-align: right;
    padding-right: 20px;
    font-size: 14px;

}
.flag{
    vertical-align: middle;
    padding-right: 12px;
}
a{
    text-decoration: none;
    color: #60b5ed;
    text-align: center;
    display: inline-block;
    padding: 0 12px;
}
li{
    display: inline-block;
}
li:nth-child(5) a{
    margin-right: -4px;
}
li:nth-child(6) a{
    color: white;
    margin-right: -4px;
    border-left: 1px solid #56a2dc;
}
li:last-child{
    background-image: url(../img/menu_button.png);
    background-repeat: no-repeat;
    color: white;
    padding: 0 13px;
}
.entrar{
    text-decoration: underline;
    color: white;
    padding: 0;
}
li a:hover{
    background-color: #4eabda;
    color: white;
}
li:last-child a:hover{
    background-color: transparent;
}

/*CONTENT*/

.form{
    width: 560px;
    height: 613px;
    margin: 8% auto;
    text-align: center;
    display: block;

}
.top{
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 62px;
    color: white;
    font-size: 24px;
    margin-bottom: 2px;
}
.log_in{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: block;
}
.facebook{
    padding: 36px 0;
}
.ou{
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
}
.input{
    margin-bottom: 14px;
}
.checkbox{
    font-size: 14px;
    margin-top: 20px;
}
.submit{
    margin: 22px 0;
}
.footer{
    font-size: 11px;
    padding-bottom: 22px;
    width: 320px;
    margin: 0 auto
}